.about {
  .container {
    padding: 3rem 1rem;
  }

  &__contact__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 992px) {
    &__details__container {
      width: 50%;
      margin: 0 auto;
    }
  }
}

.icon a {
  color: #4078c0;
}
