.work {
  &__main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    margin-bottom: 3rem;

    // @media screen and (min-width: 992px) {
    //   display: flex;
    //   margin-bottom: 0rem;
    // }
  }

  &__copy__wrapper {
    background: #fff;
    line-height: 2rem;
    padding: 2rem;

    // @media screen and (min-width: 992px) {
    //   text-align: left;
    //   padding: 5rem;
    // }
  }

  &__copy__wrapper.light {
    background-color: black;
  }

  &__img__wrapper {
    // @media screen and (min-width: 992px) {
    //   margin-bottom: 0rem;
    // }
  }

  &__img {
    height: auto;
    width: 100%;
  }
}

.work__wrapper.photon {
  display: flex;
  flex-direction: column;
}

.work__wrapperphoton :nth-child(1) {
  order: 2;
}

.photon :nth-child(1) {
  order: 3;
}

.photon :nth-child(2) {
  order: 2;
}
