* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.header__container {
  background-image: url(/assets/header.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.header__title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600; }

.header__copy {
  color: #ffffff;
  font-size: 1.5rem; }

.about {
  text-align: center; }
  .about .container {
    padding: 3rem 1rem; }

.work__img__wrapper {
  margin-bottom: 2.5rem; }

.work__img {
  height: auto;
  width: 100%; }
