* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.icon {
  font-size: 3rem;
}
.icon:not(:last-of-type) {
  margin-right: 1rem;
}

.project__links {
  text-align: center;
}

.work__links.light {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin-right: 1.5rem;
}
.work__links.dark {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  margin-right: 1.5rem;
}
