.heading {
  &__primary {
    color: black;
    background-color: #fff;
    padding: 5rem;
    font-size: 5rem;
    text-transform: uppercase;
  }

  &__secondary {
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  &__tertiary {
    text-transform: uppercase;
    margin-bottom: 1rem;

    @media screen and (min-width: 992px) {
    }
  }

  &__tertiary.light {
    color: #fff;
  }
}

.copy__light {
  color: #fff;
}
