.heading {
  &__primary {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__secondary {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &__tertiary {
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 2rem;
  }

  &__tertiary.light {
    color: #fff;
  }
}

.copy__light {
  color: #fff;
  margin-bottom: 2rem;
}
